header { 
    background-color: #244751;
    color: #E8FDff;
}
    
body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}
.post .user-info img {
    border-radius: 50%;
}

p {
    font-family: "Brush Script", Courier, Bodoni, Caslon;
}


.photo:hover {
    padding: 25px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

p {
    color:green;
}

.actions {
    color: red;
}
